# Pandas
관계 또는 레이블링 데이터로 쉽고 직관적으로 작업 할 수 있도록 고안된 빠르고 유연하며 <br>
표현력이 뛰어난 데이터 구조를 제공하는 Python 패키지

## Pandas 특징
- 부동 소수점이 아닌 데이터 뿐만 아니라 부동 소수점 데이터에서도 결측 데이터 (NaN으로 표시됨)를 쉽게 처리
- 크기 변이성(Size mutability) : DataFrame 및 고차원 객체에서 열을 삽입 및 삭제 가능
- 자동 및 명시적(explicit) 데이터 정렬 : 객체를 라벨 집합에 명시적으로 정렬하거나, 사용자가 라벨을 무시하고 Series, Data Frame등의 계산에서 자동으로 데이터 조정가능
- 데이터 세트에서 집계 및 변환을 위한 분할(split), 적용(apply), 결합(combine) 작업을 수행할 수 있는 강력하고 유연한 group-by 함수 제공
- 누락된 데이터 또는 다른 Python 및 NumPy 데이터 구조에서 서로 다른 인덱싱 데이터를 DataFrame 개체로 쉽게 변환
- 대용량 데이터 세트의 지능형 라벨 기반 글라이싱, 고급 인덱싱 및 부분 집합 구하기 가능
- 직관적인 데이터 세트 병합 및 결합
- 데이터 세트의 유연한 재구성 및 피벗
- 축의 계층적 라벨링(눈금당 여러개의 라벨을 가질 수 있음)
- 플랙 파일(CSV 및 구분), Excel 파일, 데이터베이스 로딩 및 초고속 HDF5형식의 데이터 저장/로드에 사용되는 강력한 IO 도구
- 시계열 특정 기능 : 날짜 범위 생성 및 주파수 변환, 무빙 윈도우(moving window)통계, 날짜 이동 및 지연

In [2]:
import numpy as np
import pandas as pd
pd.__version__

'1.5.0'

## Pandas 객체

### Series 객체
- 단일한 객채를 가짐

In [3]:
s = pd.Series([0, 0.25, 0.5, 0.75, 1.0])
s
# 인덱스와 함께 저장이 됨.

0    0.00
1    0.25
2    0.50
3    0.75
4    1.00
dtype: float64

In [4]:
# 값만 출력하고 싶을때
s.values

array([0.  , 0.25, 0.5 , 0.75, 1.  ])

In [5]:
s.index
# 범위(RangeIndex)형태로 인덱스가 구성 되어있음
# RangeIndex(start=0, stop=5, step=1) --> 0 ~ 4까지, 간격은 1

RangeIndex(start=0, stop=5, step=1)

In [6]:
s[1]

0.25

In [7]:
s[1:4] # 슬라이싱 기능도 가능

1    0.25
2    0.50
3    0.75
dtype: float64

In [8]:
s = pd.Series([0, 0.25, 0.5, 0.75, 1.0], index=['a', 'b', 'c', 'd', 'e'])
s
# index는 지정한 값으로 설정 가능
# --> defualt 값은 range 값으로 되어 있음

a    0.00
b    0.25
c    0.50
d    0.75
e    1.00
dtype: float64

In [9]:
s['c']

0.5

In [10]:
# 특정 인덱스만 불러오기
s[['c', 'd', 'e']]

c    0.50
d    0.75
e    1.00
dtype: float64

In [11]:
# s에 'b' 인덱스가 있는지
'b' in s

True

In [12]:
s = pd.Series([0, 0.25, 0.5, 0.75, 1.0], index=[2, 4, 6, 8, 10])
s

2     0.00
4     0.25
6     0.50
8     0.75
10    1.00
dtype: float64

In [13]:
s[4]

0.25

In [14]:
s[2:]

C:\Users\sj926\AppData\Local\Temp\ipykernel_6808\2428392343.py:1: FutureWarning: The behavior of `series[i:j]` with an integer-dtype index is deprecated. In a future version, this will be treated as *label-based* indexing, consistent with e.g. `series[i]` lookups. To retain the old behavior, use `series.iloc[i:j]`. To get the future behavior, use `series.loc[i:j]`.
  s[2:]

6     0.50
8     0.75
10    1.00
dtype: float64

In [15]:
# 유일한 값 출력
s.unique()

array([0.  , 0.25, 0.5 , 0.75, 1.  ])

In [16]:
# 각각의 값 개수 => 0의 개수, 0.25의 개수, 0.5의 개수, ...
s.value_counts()

0.00    1
0.25    1
0.50    1
0.75    1
1.00    1
dtype: int64

In [17]:
# 값이 어디에 있는지 boolean 값으로 반환
s.isin([0.25, 0.75])

2     False
4      True
6     False
8      True
10    False
dtype: bool

In [18]:
pop_tuple = { '서울특별시' : 9720846,
              '부산광역시' : 3404423,
              '인천광역시' : 2947217,
              '대구광역시' : 2427954,
              '대전광역시' : 1471040,
              '광주광역시' : 1455048 } 
population = pd.Series(pop_tuple)
population

서울특별시    9720846
부산광역시    3404423
인천광역시    2947217
대구광역시    2427954
대전광역시    1471040
광주광역시    1455048
dtype: int64

In [19]:
population['서울특별시']

9720846

In [20]:
population['서울특별시':'인천광역시']

서울특별시    9720846
부산광역시    3404423
인천광역시    2947217
dtype: int64

### DataFrame 객체
- 여러 컬럼이 들어간 2차원 특성을 가짐

In [21]:
pd.DataFrame([{'A':2, 'B':4, 'D':3}, {'A':4, 'B':5, 'C':7}])
# -> 누락값은 NaN으로 처리 됨

   A  B    D    C
0  2  4  3.0  NaN
1  4  5  NaN  7.0

In [22]:
# 랜덤값으로 생성
pd.DataFrame( np.random.rand(5, 5), 
              columns=['A', 'B', 'C', 'D', 'E'],
              index=[1, 2, 3, 4, 5] )

          A         B         C         D         E
1  0.528572  0.183941  0.324667  0.394548  0.383868
2  0.707555  0.422927  0.820168  0.977203  0.306890
3  0.813689  0.846253  0.373898  0.015208  0.632011
4  0.570572  0.820139  0.081727  0.427082  0.180767
5  0.799205  0.415954  0.518699  0.696834  0.781761

In [23]:
mail_tuple = { '서울특별시' : 4732275,
                '부산광역시' : 1668618,
                '인천광역시' : 1476813,
                '대구광역시' : 1198815,
                '대전광역시' : 734441,
                '광주광역시' : 720060 } 
mail = pd.Series(mail_tuple)
mail

서울특별시    4732275
부산광역시    1668618
인천광역시    1476813
대구광역시    1198815
대전광역시     734441
광주광역시     720060
dtype: int64

In [24]:
femail_tuple = { '서울특별시' : 4988571,
                  '부산광역시' : 1735805,
                  '인천광역시' : 1470404,
                  '대구광역시' : 1229139,
                  '대전광역시' : 736599,
                  '광주광역시' : 734988 } 
femail = pd.Series(femail_tuple)
femail

서울특별시    4988571
부산광역시    1735805
인천광역시    1470404
대구광역시    1229139
대전광역시     736599
광주광역시     734988
dtype: int64

In [25]:
korea_df = pd.DataFrame({'인구수': population, 
                         '남자인구수' : mail,
                         '여자인구수': femail })
korea_df

           인구수    남자인구수    여자인구수
서울특별시  9720846  4732275  4988571
부산광역시  3404423  1668618  1735805
인천광역시  2947217  1476813  1470404
대구광역시  2427954  1198815  1229139
대전광역시  1471040   734441   736599
광주광역시  1455048   720060   734988

In [26]:
# 인덱스 출력
korea_df.index

Index(['서울특별시', '부산광역시', '인천광역시', '대구광역시', '대전광역시', '광주광역시'], dtype='object')

In [27]:
# 컬럼
korea_df.columns

Index(['인구수', '남자인구수', '여자인구수'], dtype='object')

In [28]:
korea_df['여자인구수']

서울특별시    4988571
부산광역시    1735805
인천광역시    1470404
대구광역시    1229139
대전광역시     736599
광주광역시     734988
Name: 여자인구수, dtype: int64

In [29]:
korea_df['서울특별시':'인천광역시']

           인구수    남자인구수    여자인구수
서울특별시  9720846  4732275  4988571
부산광역시  3404423  1668618  1735805
인천광역시  2947217  1476813  1470404

### Index 객체


<table>
  <tr>
    <th>클래스</th>
    <th>설명</th>
  </tr>
  <tr>
    <td>Index</td>
    <td>일반적인 Index 객체이며, NumPy 배열 형식으로 축의 이름 표현</td>
  </tr>
  <tr>
    <td>Int64Index</td>
    <td>정수 값을 위한 Index</td>
  </tr>
  <tr>
    <td>MultiIndex</td>
    <td>단일 축에 여러 단계 색인을 표현하는 계층적 Index객체 (튜플의 배열과 유사)</td>
  </tr>
  <tr>
    <td>DataetimeIndex</td>
    <td>NumPy의 datetime64 타입으로 타임스탬프 저장</td>
  </tr>
  <tr>
    <td>PeriodIndex</td>
    <td>기간 데이터를 위한 Index</td>
  </tr>
</table>

In [30]:
idx = pd.Index([2, 4, 6, 8, 10])
idx

Int64Index([2, 4, 6, 8, 10], dtype='int64')

In [31]:
idx[1]

4

In [32]:
idx[1:2:2]

Int64Index([4], dtype='int64')

In [33]:
idx[-1::]

Int64Index([10], dtype='int64')

In [34]:
idx[::2]

Int64Index([2, 6, 10], dtype='int64')

In [35]:
print(idx)
print(idx.size)
print(idx.shape)
print(idx.ndim) # 1차원
print(idx.dtype)

Int64Index([2, 4, 6, 8, 10], dtype='int64')
5
(5,)
1
int64

#### Index 연산

<table>
  <tr>
    <th>연산자</th>
    <th>메소드</th>
    <th>설명</th>
  </tr>
  <tr>
    <td></td>
    <td>append</td>
    <td>색인 객체를 추가한 새로운 색인 반환</td>
  </tr>
  <tr>
    <td>-</td>
    <td>difference</td>
    <td>색인의 차집합 반환</td>
  </tr>
  <tr>
    <td>&</td>
    <td>intersection</td>
    <td>색인의 교집합 반환</td>
  </tr>
  <tr>
    <td>|</td>
    <td>union</td>
    <td>색인의 합집합 반환</td>
  </tr>
  <tr>
    <td></td>
    <td>isin</td>
    <td>색인이 존재하는지 여부를 불리언 배열로 반환</td>
  </tr>
  <tr>
    <td></td>
    <td>delete</td>
    <td>색인이 삭제된 새로운 색인 반환</td>
  </tr>
  <tr>
    <td></td>
    <td>drop</td>
    <td>값이 삭제된 새로운 색인 반환</td>
  </tr>
  <tr>
    <td></td>
    <td>insert</td>
    <td>색인이 추가된 새로운 색인 반환</td>
  </tr>
  <tr>
    <td></td>
    <td>is_monotonic</td>
    <td>색인이 단조성을 가지면 True</td>
  </tr>
  <tr>
    <td></td>
    <td>is_unique</td>
    <td>중복되는 색인이 없다면 True</td>
  </tr>
  <tr>
    <td></td>
    <td>unique</td>
    <td>색인에서 중복되는 요소를 제거하고 유일한 값만 반환</td>
  </tr>
</table>